@font-face {
  font-family: "iconfont";
  /* Project id 3296611 */
  src:
    url('iconfont.ttf?t=1649948737900') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jieshao:before {
  content: "\e72f";
}

.icon-gongneng:before {
  content: "\e84a";
}

.icon-guidezhiyin:before {
  content: "\e6c4";
}

.icon-paimingkaoqian-01:before {
  content: "\e634";
}

.icon-sousuo:before {
  content: "\e65a";
}

.icon-biyanjing:before {
  content: "\e901";
}

.icon-jingzi:before {
  content: "\e610";
}

.icon-yonghuguanli:before {
  content: "\e70c";
}

.icon-guanbi:before {
  content: "\e609";
}

.icon-quxiaoquanping:before {
  content: "\eb10";
}

.icon-quanping:before {
  content: "\eb11";
}

.icon-ico-:before {
  content: "\e817";
}

.icon-shezhi-:before {
  content: "\e60d";
}

.icon-zhongyingwen:before {
  content: "\e605";
}

.icon-yonghu:before {
  content: "\e615";
}

.icon-jurassic_user:before {
  content: "\e6a5";
}

.icon-16:before {
  content: "\e616";
}

.icon-mima:before {
  content: "\e8b2";
}

.icon-yanjing:before {
  content: "\e8bf";
}

.icon-bianjiwenzhang_huaban:before {
  content: "\e62e";
}

.icon-hamburger:before {
  content: "\e600";
}

.icon-quanxianliebiao:before {
  content: "\e678";
}

.icon-hamburger-opened:before {
  content: "\e603";
}

.icon-eye:before {
  content: "\e602";
}